#Header {
    .nav-container {
        width: 40rem;
        height: 2rem;
        display: flex;
        font-size: .90rem;
        text-transform: uppercase;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav-link {
        color: rgb(211, 223, 238);
        font-weight: bold;
        padding: .30rem;
        border-radius: .15rem;
        letter-spacing: .2rem;
    }
    .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 10rem;
        margin-left: 1rem;
        h1 {
            font-size: 2rem;
        }
    }
    .astronaut-logo {
        width: 2rem;
    }
}

#Search {
    width: 20rem;
    text-align: center;
    @media(max-width: 500px) {
        width: 100%;
        margin: 0 .25rem 0 1rem;
    }
    input {
        width: 90%;
        color: grey;
        letter-spacing: .1rem;
        font-size: 1rem;
        border: 1px solid rgba(128, 128, 128, 0.755);
        border-radius: 1rem;
        background-color: rgba(0, 0, 0, 0);
        padding: .5rem;
        outline: none;
        margin-right: 1rem;
        text-transform: uppercase;
    }
}